**ASSIGNMENT DAY 1 - DONNY ALI SANJAYA**

1. Buatlah tabel-tabel berikut dalam dua file csv yang berbeda.
![image.png]()

Kemudian dengan menggunakan Google Colab coba anda tambahkan sebuah entr (kolom) yang berisikan informasi bonus tahunan yang diterima oleh setiap sales Pehitungan bonus tahunan ini dilihat dari total penjualan selama setahun dan lama waktu bekerja, dimana:

*   Jika Lama waktu kerja ≥ 4 tahun, maka bonus yang diperoleh ialah total penjualan selama setahun dikali 350000
*   Jika Lama waktu kerja < 4 tahun, maka bonus yang diperoleh ialah total penjualan selama setahun dikali 200000

===================================================================================================================

**PREPARING GOOGLE DRIVE TO BE MOUNTED TO GOOGLE COLAB**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd drive

/content/drive

In [4]:
ls

MyDrive/

In [5]:
cd MyDrive/

/content/drive/MyDrive

In [7]:
cd Colab\ Notebooks

/content/drive/My Drive/Colab Notebooks

In [9]:
cd Micromaster ML

/content/drive/My Drive/Colab Notebooks/Micromaster ML

In [11]:
ls

siswa.csv  table1.csv  table2.csv

**MAIN PROGRAM**

In [12]:
import pandas as pd

In [15]:
table1 = pd.read_csv('table1.csv')
table2 = pd.read_csv('table2.csv')

In [16]:
#menampilkan isi dari table1
table1

     nama  kantor_cabang   ...  penjualan_kuartal3   penjualan_kuartal4
0  Sales1       Antapani   ...                   37                  32
1  Sales2        Cicadas   ...                   14                  17
2  Sales3       Buahbatu   ...                   19                  22
3  Sales4       Gedebage   ...                   62                  47
4  Sales5        Pasteur   ...                   37                  27
5  Sales6           Dago   ...                   18                  20
6  Sales7           Kopo   ...                   23                  25
7  Sales8    Ujungberung   ...                   42                  37

[8 rows x 6 columns]

In [17]:
#menampilkan isi dari table2
table2

     nama   lama_kerja(tahun)
0  Sales1                   5
1  Sales2                   2
2  Sales3                   3
3  Sales4                   6
4  Sales5                   4
5  Sales6                   2
6  Sales7                   4
7  Sales8                   5

In [21]:
#menambahkan kolom "lama_kerja(tahun)" dari table2 ke table1 disebelah kanan kolom "lama_kerja" pada table1
table1['lama_kerja'] = table2['lama_kerja(tahun)']

In [22]:
#menampilkan isi dari table1 yang sudah ditambahkan kolom baru dari table2
table1

     nama  kantor_cabang   ...  penjualan_kuartal4  lama_kerja
0  Sales1       Antapani   ...                  32           5
1  Sales2        Cicadas   ...                  17           2
2  Sales3       Buahbatu   ...                  22           3
3  Sales4       Gedebage   ...                  47           6
4  Sales5        Pasteur   ...                  27           4
5  Sales6           Dago   ...                  20           2
6  Sales7           Kopo   ...                  25           4
7  Sales8    Ujungberung   ...                  37           5

[8 rows x 7 columns]

In [32]:
#menambahkan kolom "bonus_selama_kerja" pada table1 disebelah kolom "lama_kerja" yang isinya dikalikan dengan 350000
table1['bonus_selama_kerja'] = table1['lama_kerja'] * 350000

In [33]:
#hasil dari table1 dengan tambahan kolom "bonus_selama_kerja"
table1

     nama  kantor_cabang   ...  lama_kerja  bonus_selama_kerja
0  Sales1       Antapani   ...           5             1750000
1  Sales2        Cicadas   ...           2              700000
2  Sales3       Buahbatu   ...           3             1050000
3  Sales4       Gedebage   ...           6             2100000
4  Sales5        Pasteur   ...           4             1400000
5  Sales6           Dago   ...           2              700000
6  Sales7           Kopo   ...           4             1400000
7  Sales8    Ujungberung   ...           5             1750000

[8 rows x 8 columns]

In [34]:
#melakukan filtering dengan menampilkan HANYA sales yang lama kerjanya sudah 4 tahun atau lebih
table1[table1['lama_kerja']>=4]

     nama  kantor_cabang   ...  lama_kerja  bonus_selama_kerja
0  Sales1       Antapani   ...           5             1750000
3  Sales4       Gedebage   ...           6             2100000
4  Sales5        Pasteur   ...           4             1400000
6  Sales7           Kopo   ...           4             1400000
7  Sales8    Ujungberung   ...           5             1750000

[5 rows x 8 columns]

In [37]:
#menambahkan kolom "bonus_selama_kerja" pada table1 disebelah kolom "lama_kerja" yang isinya dikalikan dengan 200000
table1['bonus_selama_kerja'] = table1['lama_kerja'] * 200000

In [38]:
#melakukan filtering dengan menampilkan HANYA sales yang lama kerjanya kurang dari 4 tahun
table1[table1['lama_kerja']<4]

     nama  kantor_cabang   ...  lama_kerja  bonus_selama_kerja
1  Sales2        Cicadas   ...           2              400000
2  Sales3       Buahbatu   ...           3              600000
5  Sales6           Dago   ...           2              400000

[3 rows x 8 columns]

**SEKIAN DAN TERIMAKASIH** | DONNY ALI SANJAYA